<div class="container h-150 d-flex justify-content-center">
    <div class="row">
        <div>
            <div class="panel panel-large">
                <div class="panel-heading"> 
                    <div  class="custom-file">
                        <input (change)="onChangeListener($event)" type="file" class="custom-file-input" id="customFileLangHTML" multiple="false" accept=".xlsx">
                        <label class="custom-file-label" for="customFileLangHTML" data-browse="Localizar">Localizar arquivo .xlsx</label>
                        <br>
                        <br>
                        <a  (click)="ProcessaCidades()" style="font-size: small;" class="btn btn-success btn-lg btn-block" role="button"> Importar Cidades! </a>
                        <a (click)="voltar()" class="btn btn-outline-primary btn-lg btn-block" role="button"> Voltar </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>