<div class="container h-150 d-flex justify-content-center" style="margin-top: 5%;">
  <div class="row">
      <div>
        <div class="card" style="width: 100%; height: 100%; margin-bottom: 10%;">
          <h5 class="card-header">Adicionar em Lote
          </h5>
          <div class="card-body">
            <div class=" panel panel-large">
              <div class="panel-heading"> 
                  <div  class="custom-file">
                      <input (change)="onChangeListener($event)" type="file" class="custom-file-input" id="customFileLangHTML" multiple="false" accept=".xlsx, .xls">
                        <label class="custom-file-label" for="customFileLangHTML" data-browse="Localizar">
                          Localizar arquivo .xlsx
                        </label>
                      <br>
                      <br>
                      <a style="margin-top: 10%;" (click)="ProcessaCidades()" style="font-size: small; background-color: lightseagreen; border: lightseagreen;" class="btn btn-success btn-lg btn-block" role="button">  <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"> </span>    Importar Cidades! </a>
                      <a (click)="voltar()" class="btn btn-outline-primary btn-lg btn-block" role="button"> Voltar </a>
                          <br>
                          <br>
                      <div *ngIf="APICall.errorCount > 0" class="alert alert-danger alert-dismissible" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&times;</span></button>
                    <strong>Ops!</strong><b>  {{APICall.errorCount}}</b> Problemas ocorreram na inclusão.
                  </div>
                  <div *ngIf="APICall.errorCount < 0 " class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&times;</span></button>
                    <strong>Oba!</strong><b>  Nenhum</b> Problema ocorreu na inclusão.
                  </div>

                  <br>
                  <br>
                  <div *ngIf="APICall.errorCount > 0">
                      <table class="table table-striped table-hover ">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col" style="text-align: center;">Falha na Inserção</th>
                            </tr>
                          </thead>
                          <tbody style="text-align: justify; text-align-last: center;">
                            <tr *ngFor="let cidade of APICall.cidadesExistentes | paginate: { itemsPerPage: contador, currentPage: pag }">
                              <td>{{cidade}}</td>
                            </tr>
                          </tbody>
                      </table>
                      <div
                          class="text-right">
                          <pagination-controls
                          (pageChange)="pag = $event" 
                          previousLabel="Anterior"
                          nextLabel="Próximo"></pagination-controls>
                      </div>
                  </div>

              </div>
              
          </div>
          </div>
        </div>
          
      </div>
  </div>
</div>