

    <div class="container h-100 d-flex justify-content-center">
        <div class="row">
            <div >
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;"> 
                            <h3 class="panel-title">
                                Inclusão de Cidade
                            </h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                            <hr>
                            Estado do ABCDEFG
                            <hr>
                        <form role="form">
                        <div class="form-group">
                        
                            <label><b>Cidade</b></label>
                            
                            <div class="input-group">
                                <input #cidade type="text" class="form-control" id="cidade" placeholder="Informe a Cidade" required autofocus />
                            </div>
                            <br>
                            <label><b>População</b></label>
                            
                            <div class="input-group">
                                <input #populacao type="number" class="form-control" id="populacao" placeholder="Informe a População" required autofocus />
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        </form>
                    </div>
                </div>
                <br/>
                <a class="btn btn-success btn-lg btn-block" role="button"> Inserir Nova Cidade! </a>
            </div>
        </div>
    </div>

