<html>
    <body>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle"   href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estados
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li *ngFor="let estado of estados">
            <a (click)="getSelectedDropdown($event)" >{{estado.nome}}</a>
          </li>
        </div>
    </div>

<div *ngIf="flag == true">
<div id="info">
   <p style="font-weight: bolder;">Nome do estado: {{estados[indice].nome}}</p> 
   <p style="font-weight: bolder;">População: {{estados[indice].populacao}}</p>
   <p style="font-weight: bolder;">Custo do Estado: {{estados[indice].custoEstadoUS}}</p>
   <p style="font-weight: bolder;">Bandeira: <img [src]= "img[indice]" width="120px" height="60px" ></p> 

   <br><button style="margin-top: 20px;" type="button" class="btn btn-success">Adicionar Cidade</button>
   <button type="button" class="btn btn-success" style="margin-left: 10px; margin-top: 20px;">Adicionar Cidade por Lote</button>
</div>

<div id="tabela" class="col-sm-6">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cidade</th>
            <th scope="col">População</th>
            <th scope="col">Custo da Cidade</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cidade of cidades">
            <th scope="row">{{cidade.id}}</th>
            <td>{{cidade.nome}}</td>
            <td>{{cidade.populacao}}</td>
            <td>{{cidade.custoCidadeUS}}</td>
            <td><button type="button" class="btn btn-danger" (click) = "DeletarCidade(cidade.id)">Deletar</button></td>
          </tr>
        </tbody>
      </table>
</div>
</div>
    </body>

</html>