
     <hr> 
    <div class="dropdown " style="color: lightseagreen;">
        <a class="btn btn-secondary dropdown-toggle myButton estados"   href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{estados[indice].nome}}
        </a>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink" style="width: 90%;">
          <li *ngFor="let estado of estados">
            <a class="dropdown-item" (click)="getSelectedDropdown($event)" >{{estado.nome}}</a>
          </li>
        </div>
    </div>
    
    
    
<div class="row" id="info" >

  <div class="card" style="width: 33%; height: 20%;" >
    <h5 class="card-header" >Bandeira
      <svg style="margin-left: 60%;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-flag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
      </svg>
    </h5>
    <div class="card-body" style="padding: 1%; border-radius: rgb(49, 216, 208);">
      <img [src]='img[indice]' style="width: 100%; height: 85%; border-radius: 10px;">
    </div>
  </div>
  
  <div class="card" style="width: 33%; height: 20%;" >
    <h5 class="card-header">População 
      <svg style="margin-left: 55%;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
      </svg>
    </h5>
    <div class="card-body" style="padding: 1%;">
      <p style="margin-top: 10%; width: 100%; height: 3.7rem; color:black;text-align: center; font-size: 40px; font-weight: bold;">{{estados[indice].populacao | number}}</p>
      <p style="margin-bottom: 30%; font-style: italic; color:black;text-align: center; font-weight: bold; font-size: 16px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Habitantes</p>
    </div>
  </div>
  
  <div class="card" style="width: 33%; height: 20%;"  >
      
      <h5 class="card-header"> Custo &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          {{dolar.USD.ask | currency: 'US'}}
      </h5>
   
    <div class="card-body" style="padding: 1%;">
      <p style="margin-top: 30%; width: 100%; height: 11.5rem; color:black;text-align: center; font-size: 35px; font-weight: bold; margin-top: 22px;">{{estados[indice].custoEstadoUS | currency: 'BRL'}}</p>
    </div>
  </div>
</div>




<div class="card">
  <div class="card-header">
    <nav class="navbar">
      <input style="width: 450px; margin-left: 60%;" class="form-control" type="text" name="search" placeholder="Pesquisar" [(ngModel)]="filter">
      <!--Input que deve ser adicionado--> 
    </nav>
  </div>
  <div class="card-body">
      <table class="table table-striped table-hover">
          <thead class="thead" style="background-color: rgb(49, 216, 208); color: rgb(255, 255, 255);">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Cidade</th>
              <th scope="col">População</th>
              <th scope="col">Custo da Cidade</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cidade of cidades | filter:filter | paginate: { itemsPerPage: contador, currentPage: pag }">
              <th scope="row">{{cidade.id}}</th>
              <td>{{cidade.nome}}</td>
              <td>{{cidade.populacao}}</td>
              <td>{{cidade.custoCidadeUS | currency: 'BRL'}}</td>
              <td>
               <div *ngIf="indice != 0" class="form-group">
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" id="gridCheck"  (click)="selectID(cidade.id)">
                   <label class="form-check-label" for="gridCheck">
                   </label>
                 </div>
               </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div
       class="text-right">
       <pagination-controls
       (pageChange)="pag = $event" 
       previousLabel="Anterior"
       nextLabel="Próximo"></pagination-controls>
       </div>
  <button (click) = "AdicionarCidades()" style="margin-top: 20px; margin-left: 50%; background-color: rgb(49, 216, 208); border:  rgb(49, 216, 208);" type="button" class="btn btn-success myButton"  >Adicionar Cidade</button>
  <button (click) = "AdicionarCidadesLote()" type="button" class="btn btn-success myButton" style="margin-left: 10px; margin-top: 20px;background-color: rgb(49, 216, 208); border:  rgb(49, 216, 208);" >Adicionar Cidade por Lote</button>
  <button *ngIf="indice != 0" type="button" class="btn btn-danger myButton delete" style="margin-left: 10px; margin-top: 20px;" (click) = "deleteSelected()">Excluir</button>
  </div>
</div>
